@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
} 

body{
    background: rgba(116, 252, 195, 0.897);
    font-family: 'Fira Sans', sans-serif;
}

nav{
    font-family: 'Fira Sans', sans-serif;
    height: 10vh;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background: black;
    height: 3rem;
}

nav ul li{
    color: blanchedalmond;
    padding: 0 1rem;
    font-weight: bolder;
}

nav ul li:hover{
    background: rgb(250, 250, 246);
    color: rgb(17, 16, 16);
    cursor: pointer;
}

.brand img{
    width: 2.5rem;
    padding-top: 0.25rem;  
}

.brand{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
} 

.tooltipContainer{
    position: relative;
}

.tooltipContainer .tooltip {
    display: none;
    color: blue;
    position: absolute;
    font-size: 1rem;
    top: 178%;
    left: 0%;
    background: black;
    padding: 0.3rem;
    border-radius: 0.6rem;
    color: wheat;
    z-index: 1;
}   

.tooltipContainer .tooltip::after {
    content: "";
    position: absolute; 
    bottom: 100%;
    right: 45%;
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.brand:hover .tooltip{
      display: initial;
}

.container{
    min-height: 75vh;
    background: black;
    color: blanchedalmond;
    display: flex;
    width: 70%;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    background-image: url("bg2.jpg");
    background-size: cover;
    background-position: 6vw;
    box-sizing: border-box;
    font-size: 32px;
    
} 

.bottom{
    position: sticky;
    bottom: 0;
    background: black;
    color: blanchedalmond;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom:hover {
    border-top: 3px solid white;
}
.icons{
    margin: 0.5rem ;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songList h1{
    margin-bottom: 1rem;
    font-size: 1em;
    font-weight: bolder;
}

.songItemContainer{
    margin-left: 2.5rem;
    font-size: 0.5em;
}

.songItem{
    height: 6vh;
    background-color: white;
    border: 2px solid white;
    border-radius: 2rem;
    font-family: 'Libre Baskerville', serif;
    margin: 1rem 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.songItem:hover{
    background: black;
    color: white;
}

.songItem:hover > .songName {
    text-decoration: underline;
}
.songItem img{
    height: inherit;
    /* padding-left: 0.4rem; */
    margin: 0 0.3rem;
    border-radius: inherit;   
}


.timeStamp i{
    cursor: pointer;
    margin-left: 0.3rem;
}

span.timeStamp {
    margin: 1.5rem;
    display: flex;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Montserrat', sans-serif;
}

.songInfo img{
    padding-right: 0.4rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.songName{
    font-weight: bolder;
    max-width: 60%;
    text-align: center;
    padding: 0.7rem;
}

i:hover {
    transform: scale(1.2,1.2);
    box-shadow: rgba(233, 224, 224, 0.35) 0px 5px 15px;
    border-radius: 100%;
}

@media screen and (max-width: 1041px) {
    .container {
        background-position: 0;
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        background-image: none;
    }
    .songItemContainer {
        margin: auto;
    }
    .songList h1 {
        text-align: center;
    }
}

@media  screen and (max-width: 350px) {
    span.timeStamp {
        font-size: 0;
    }
    span.timeStamp i {
        font-size: initial;
    }
    .songItem {
        padding: 0.4rem;
    }
} 

@media  screen and (max-width: 440px) {
    .songName {
        padding: 0;
    }
    .songItem {
        min-height: 5%;
    }
    span.timeStamp {
        margin: 0;
    }
    .songInfo img {
        display: none;
    }
}
